<html>
<head>
</head>

<body>
<ul>

<li><%= link_to "favorites", favorites_url %></li>
<li><%= link_to "friends", friends_url %></li>
<li><%= link_to "greeting", greeting_url %></li>
<li><%= link_to "search", search_url %></li>
</ul>
<h1>My Friends</h1>
<ul>
  <% @m_fr.each do |mf| %>
    <li><%= mf %></li>
  <% end %>
</ul>
</body>
</html>
